<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <a href="javascript:void(0)" (click)="goToAbout()">About</a>
  <div class="post-preview" *ngFor="#post of posts">
      <!--<a [routerLink]="['/About']">-->
      <a href="javascript:void(0)" (click)="gotoDetail(post)">
          <h2 class="post-title">
              <!--Man must explore, and this is exploration at its greatest-->
              {{ post.Title }}
          </h2>
          <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
          </h3>
      </a>
      <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
      <hr>
  </div>
  <!-- Pager -->
  <ul class="pager">
      <li class="next">
          <a href="#">Older Posts &rarr;</a>
      </li>
  </ul>
</div>